
.App {
  width: 100%;
  height: 100vmax;
  text-align: center;
  background-repeat: repeat;
 
}
.FrontPage{
  text-align: center;
}
.my_form{
  width: 300px;
  margin: 0 auto;
}
.my_form input,.my_form button { 
  width: 160px;
}
h1{
  margin: 0;
  color:rgb(46, 29, 7);
}
textarea{
  height: 200px;
  width: 180px;
}
.Note p{
  margin-top: 30px;
  height: max-content;
  max-width:150px;
  
  margin: 0 auto ;
}
.Note{
  width: 283px;
  height: 283px;
  
}
.allNotes{
  
  float: left;
  margin-right: 30px;
  text-align: center;
 
}
.delete{
  position: relative;
    z-index: 1;
    float: left;
    top: 30px;
    left: 23px;
    color: rgb(251, 253, 255);
    background-color: red;
}
